*{
    margin: 0;
    padding: 0;
}

.wrap{
    width: 90%;
    max-width: 500px;
    margin: auto;
}

form{
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 3px grey;
    border-top:  4px solid #039d86;
}

form input[type="text"], 
form input[type="email"],
form input[type="password"], 
form textarea{
    border: 1px solid #039d86 ;
    border-radius: 2px;
    padding: 16px;
    width: 90%;
    display: block;
    margin-bottom: 20px;
    font-size: 1em;
    color: #141938;
}

form textarea{
    max-width: 90%;
    min-width: 90%;
    max-height: 90%;
    min-height: 90%;
}

form input[type="submit"]{
    
   
    border: none;
    padding: 15px;
    width: 97%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #039d86;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    
}
form input[type="submit"]:hover{
    background: #56a8eb;
}

/*  Para el mensaje de error y éxito*/
.alert{
    padding: 1em;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    font-size: 14px;
}

.alert.error{
    background: #F2DEDE;
    border: 1px solid #a94442;
    color: #a94442;
}